{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}

<h1>{{ data.titulo }}</h1>

    <form  method="POST">
        <div class="form-group">
            <label for="user_id">Introduzca su ID</label>
            <input 
                type="user_id" 
                class="form-control" 
                id="user_id" 
                name="user_id" 
                placeholder="Introduce tu id de usuario"
            />

        </div>

        <br />
        <button type="submit" class="btn btn-primary">Recomiéndandos un restaurante</button>

        
    </form>

{% endblock %}