{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 style="color: #00665e;">{{ data.nombre }} - {{ data.direccion }} - {{ data.valoracion }}</h4>
            <ul class="list-group">
                {% for restaurante in data.restaurantes %}
                    <li class="list-group-item">{{ restaurante[0] }} - {{ restaurante[1] }} - {{ restaurante[2] }}</li>
                {% endfor %}
            </ul>
            <form action="/" class="my-4">
                <button type="submit" class="btn btn-primary" style="background-color: #00665e;">Recomendar de nuevo</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
